In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [2]:
df = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})

In [3]:
df

   dataset1  dataset2 k1     k2
0 -1.936024  1.194071  X  alpha
1  0.313205 -0.049503  X   beta
2  0.116611 -1.165838  Y  alpha
3 -0.279797  0.808224  Y   beta
4 -1.225216 -1.548716  Z  alpha

In [4]:
grp1=df['dataset1'].groupby(df['k1'])

In [5]:
grp1

In [6]:
grp1.mean()

k1
X   -0.811410
Y   -0.081593
Z   -1.225216
Name: dataset1, dtype: float64

In [7]:
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [8]:
df

   dataset1  dataset2 k1     k2
0 -1.936024  1.194071  X  alpha
1  0.313205 -0.049503  X   beta
2  0.116611 -1.165838  Y  alpha
3 -0.279797  0.808224  Y   beta
4 -1.225216 -1.548716  Z  alpha

In [11]:
df['dataset1'].groupby([cities,month]).mean()

LA  FEB    0.313205
    JAN    0.116611
NY  FEB   -0.279797
    JAN   -1.580620
Name: dataset1, dtype: float64

In [12]:
df.groupby('k1').mean()

    dataset1  dataset2
k1
X  -0.811410  0.572284
Y  -0.081593 -0.178807
Z  -1.225216 -1.548716

In [14]:
df.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha -1.936024  1.194071
   beta   0.313205 -0.049503
Y  alpha  0.116611 -1.165838
   beta  -0.279797  0.808224
Z  alpha -1.225216 -1.548716

In [15]:
df.groupby('k1').size()

k1
X    2
Y    2
Z    1
dtype: int64

In [23]:
for name,group in df.groupby('k1'):
    print "This is the %s group" %name
    print group
    print '\n'

This is the X group
   dataset1  dataset2 k1     k2
0 -1.936024  1.194071  X  alpha
1  0.313205 -0.049503  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2  0.116611 -1.165838  Y  alpha
3 -0.279797  0.808224  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4 -1.225216 -1.548716  Z  alpha

In [25]:
for (k1,k2) , group in df.groupby(['k1','k2']):
    print "Key1 = %s Key2 = %s" %(k1,k2)
    print group
    print '\n'

Key1 = X Key2 = alpha
   dataset1  dataset2 k1     k2
0 -1.936024  1.194071  X  alpha


Key1 = X Key2 = beta
   dataset1  dataset2 k1    k2
1  0.313205 -0.049503  X  beta


Key1 = Y Key2 = alpha
   dataset1  dataset2 k1     k2
2  0.116611 -1.165838  Y  alpha


Key1 = Y Key2 = beta
   dataset1  dataset2 k1    k2
3 -0.279797  0.808224  Y  beta


Key1 = Z Key2 = alpha
   dataset1  dataset2 k1     k2
4 -1.225216 -1.548716  Z  alpha

In [26]:
grp1

In [27]:
list(grp1)

[('X', 0   -1.936024
  1    0.313205
  Name: dataset1, dtype: float64), ('Y', 2    0.116611
  3   -0.279797
  Name: dataset1, dtype: float64), ('Z', 4   -1.225216
  Name: dataset1, dtype: float64)]

In [28]:
grp_dict=dict(list(df.groupby('k1')))

In [29]:
grp_dict

{'X':    dataset1  dataset2 k1     k2
 0 -1.936024  1.194071  X  alpha
 1  0.313205 -0.049503  X   beta, 'Y':    dataset1  dataset2 k1     k2
 2  0.116611 -1.165838  Y  alpha
 3 -0.279797  0.808224  Y   beta, 'Z':    dataset1  dataset2 k1     k2
 4 -1.225216 -1.548716  Z  alpha}

In [33]:
grp_dict.keys()

['Y', 'X', 'Z']

In [34]:
grp_dict['X']

   dataset1  dataset2 k1     k2
0 -1.936024  1.194071  X  alpha
1  0.313205 -0.049503  X   beta

In [37]:
gr2_dict=dict(list(df.groupby(df.dtypes,axis=1)))

In [39]:
gr2_dict.keys()

[dtype('O'), dtype('float64')]